.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background: #fff;
  text-align: center;
  /* margin: 10% auto; */
  margin-top: 10px;
  margin-left: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: modalopen;
  animation-duration: 0.75s;
}

#settings-modal > h1 {
  margin-bottom: 15px;
}

#change-grid > div {
  text-align: left;
  margin: 15px 0;
}

.form-number {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.form-number:focus {
  outline-color: #fff;
  outline-width: 0;
}

.form-dropdown {
  font-family: inherit;
  font-size: 0.8rem;
}

/* .form-btn {
  font-family: inherit;
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(119, 119, 119);
} */



@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}